
* {
  box-sizing: border-box;
}

body, html, #root, .app, .container {
    width: 100%;
    height: 100%;
  }
  .container {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282C34;
  }
  .loginForm {
   box-sizing: border-box;
   width: 40%;
   max-width: 400px;
   padding-left: 20px;
   padding-right: 20px;
  }
  .inputField {
   padding-top: 16px;
  }
  .input {
   box-sizing: border-box;
   outline: none;
   border: solid 2px black;
   border-radius: 4px;
   color: #292929;
   width: 15%;
   padding: 12px;
   font-size: 14px;
   background: rgba(255, 255, 255, 1);
  }
  .submitButton {
   padding-top: 16px;
  }
  .btn {
   width: 100%;
   min-width: 280px;
   color: #565656;
   padding: 12px;
   font-size: 14px;
   font-weight: bold;
   border: solid 2px #1189DE;
   border-radius: 4px;
   background: #fff;
   cursor: pointer;
  }

  .padding {
      padding-left: 150px;
      padding-right: 150px;
  }

  #loginarea {
    display: inline-flex;
    align-items: center;
    vertical-align: center;
  
   
 
  }

  #signuparea {
    display: inline-flex;
    align-items: center;
 
  }  



  
  .touch {
    margin: 0rem;
  }

