
.main-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    
  
    min-height: 80rem;
  }
  
  
  .post-body {
    display: flex;
  
    width: 566px;
    height: 170px;
  
    margin-left: 10rem;
    margin-bottom: 10rem;
   

 }

Button {

  width: 50cem;
}


  #user {
    text-align: left;
    width: 100%;
    height:  50px;
    padding:10px;

    
  }

  #likes {
    text-align: right;
    /* background-color: gainsboro; */

  }
  #comments {
    text-align: right;
  
  }

  #title {
   font-weight: 900;
  

  }


  #time {
    font-size: smaller;
    text-align: right;
    padding: 5px;
  
  }

