#small {
  font-size: 14px;
}

.likeMe {
  border-radius: 25px !important;
  margin-left: 5px;
  margin-right: 5px;
  background-color: black !important;
}
<<<<<<< HEAD

.grad {
  
  background-color: black;
  background-image: linear-gradient( black, darkblue);
}

.left {
  margin-left: 5px !important;
}
=======
>>>>>>> 4581624a47d92309724a6ecaee4619140a184b89
