
* {
  background-color: black;
} 

Card {
background-color: black;
}

Card, #card, .card {
  background-color: black;
}


.w-full, .main-body, .card {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    text-align: center;  
    min-height: 80rem;
    background-color: black;
  }
  
  
  .post-body {
    display: flex;
    width: 566px;
    height: 170px;
    margin-left: 10rem;
    margin-bottom: 10rem;
    background-color: black;

 }

 

 .card-body {
   background-color: black;
 }

Button {

  width: 50cem;
}



  #user {
    text-align: left;
    font-size: 10px;

    
  }

  #likes {
    text-align: right;
  

  }
  #comments {
   
    font-size: 10px;
  
  }

  #title {
   font-weight: 900;

  }

  #time {
    font-size: 10px;
  }

  .button-group {
   
    padding: 5px;

  }

  .threadbutton {
    padding-left: 5px;
  }
 
